/* DEFINE THEME COLOR */
$pageBackground   : #ebebeb;
$widgetBorder     : #ccc;// efefef
$widgetBackground : #fff;
$widgetBorderRadius : 3px;
$textColor        : #333;
$textHover        : #365899;
$yellow           : #f40;
$themeBg          : #F15A24;// cam
$themeColor       : #fff;
$priceColor       : #FF0000;// đỏ


h1{
	color: yellow;
}